/*forms stylings*/
.input-field{
    margin-bottom: 2vh;
    padding: auto;
   text-align: left;
}
.text-input{
    height:5vh;
    width:25vw;
    background-color: transparent;
    border: 1px solid darkslategray;
    box-shadow: 0px 0.2px 0.5px 0px gray;
    margin-top: 1vh;
}
.text-input::placeholder{
    padding-left: 1vw;
}
.text-input:focus{
    outline: none;
    border: 0.5px solid rgb(108, 144, 144);
}
label{
    opacity:70%;
}
.form-container{
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vh;
    box-shadow: 2px 1px 1px 2px rgb(160, 194, 194);
    border-radius: 1vh;
}
.submit-button{
    background-color: darkseagreen;
    color:white;
    font-weight: 800;
    width:20vw;
    height: 5vh;
    border: none;
    border-radius: 1vh;
    margin-top: 1vh;
}
.submit-button:hover{
    background-color: darkslategray;
    cursor: pointer;
}
h4{
    letter-spacing: 0.1vh;
    opacity:80%;
}
h5{
    letter-spacing: 0.1vh;
    opacity: 60%;
}
/*form responsiveness*/
/*moblie screen*/
@media (max-width: 600px) {
    .text-input{
        height:4vh;
        width:90vw;
    }
    .form-container{
      width: 100vw;  
      padding: 2vh 2vh;
    }
    .submit-button{
       width: 70vw;
    }
}
/* ipad screen*/
@media only screen and (min-width: 624px) and (max-width: 1024px){
    .text-input{
        height:5vh;
        width:60vw;
    }
    .form-container{
      width: 80vw;  
      padding: 2vh 4vh;
      height:60vh;
    }
    .submit-button{
       width: 60vw;
    }
    h4{
        font-size: 2vh;
    }
}