/*forms stylings*/
.input-field{
    margin-bottom: 2vh;
    padding: auto;
   text-align: left;
}
.text-input{
    height:5vh;
    width:25vw;
    background-color: transparent;
    border: 1px solid darkslategray;
    box-shadow: 0px 0.2px 0.5px 0px gray;
    margin-top: 1vh;
}
.text-input::placeholder{
    padding-left: 1vw;
}
.text-input:focus{
    outline: none;
    border: 0.5px solid rgb(108, 144, 144);
}
label{
    opacity:70%;
}
.form-container{
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 10vh;
    box-shadow: 2px 1px 1px 2px rgb(160, 194, 194);
    border-radius: 1vh;
}
.submit-button{
    background-image: linear-gradient(180deg, rgb(159, 182, 185), rgb(132, 139, 121),rgb(84, 110, 113));
    color:white;
    font-weight: 800;
    width:20vw;
    height: 5vh;
    border: none;
    border-radius: 1vh;
    margin-top: 1vh;
}
.submit-button:hover{
    background-image: linear-gradient(180deg, rgb(70, 86, 88), rgb(168, 180, 147),rgb(9, 93, 106));
    cursor: pointer;
}
h4{
    letter-spacing: 0.1vh;
    opacity:80%;
}
h5{
    letter-spacing: 0.1vh;
    opacity: 60%;
}
/*front page buttons*/
.frontpage-button{
    background-image: linear-gradient(90deg, rgb(150, 193, 194), rgb(0,48, 53));
    color:white;
    font-weight: 800;
    width:15vw;
    height: 6vh;
    border: none;
    margin-top: 3.2vh;
}
.frontpage-button:hover{
    background-image: linear-gradient(90deg,  rgb(0,100, 80),rgb(144, 230, 243));
    cursor: pointer;
}
.fronpage-text-input{
    height:6vh;
    width:20vw;
    background-color: transparent;
    border: 1px solid  rgb(147, 190, 195);
    box-shadow: 0px 0.2px 0.5px 0px rgb(0,100, 80);
    margin-top: 1vh;
}
.frontpage-text-input::placeholder{
    padding-left: 2vw;
}
.frontpage-text-input:focus{
    outline: none;
    border: 0.5px solid rgb(0,100, 80);
}
/*form responsiveness*/
/*moblie screen*/
@media (max-width: 600px) {
    .text-input{
        height:4vh;
        width:90vw;
    }
    .fronpage-text-input{
        height:4vh;
        width:40vw;
    }
    .form-container{
      width: 100vw;  
      padding: 2vh 2vh;
    }
    .submit-button{
       width: 70vw;
    }
    .frontpage-button{
        width: 30vw; 
        height:4vh;
    }
}
/* ipad screen*/
@media only screen and (min-width: 624px) and (max-width: 1024px){
    .text-input{
        height:5vh;
        width:60vw;
    }
    .form-container{
      width: 80vw;  
      padding: 2vh 4vh;
      height:60vh;
    }
    .submit-button{
       width: 60vw;
    }
    h4{
        font-size: 2vh;
    }
}