.App {
  text-align: center;
  background-image: linear-gradient(180deg, rgb(7, 48, 53), rgb(132, 139, 121),rgb(7, 48, 53));
  height:100vh;
  position: relative;
  overflow-y: scroll;
}
.pagelist{
  display: flex;
  flex-direction: column;
}
.page-view{
  gap:4vw;
  padding: 3vw;
  background-image: linear-gradient(180deg, rgb(7, 48, 53), rgb(132, 139, 121),rgb(7, 48, 53));
}
.page-container{
  display: grid;
  grid-template-columns:  1fr 2fr;
  grid-template-areas: (1fr,3fr);
  border-radius: 1vh;
  gap:1vw;
  padding: 2vw;
  background-image: linear-gradient(180deg, rgb(7, 48, 53), rgb(132, 139, 121),rgb(7, 48, 53));
}
/*single blog view styling*/
.image-view{
  width: 60vw;
  height: 60vh;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1vh;
}
.page-body{
  width: 60vw;
  text-align: left;
}
.page-body p{
  font-size: 2.5vh;
  line-height: 4vh;
  margin-top: 4vh;
  color:rgb(243, 246, 226);
  opacity:80%;
}
.page-body h1{
  font-size: 5vh;
  opacity: 80%;
  font-family:'Georgia, 'Times New Roman', Times, serif';
  font-weight: bolder;
  margin-bottom: 2vh;
  color:rgb(242, 248, 213);
  opacity: 80%;
}
.page-body small{
  font-size: 1.5vh;
  opacity: 80%;
  color:antiquewhite
}
.page-body small:hover{
  cursor: pointer;
  color: beige;
}
/* nava bar styling*/
.header-container{
  padding: 4vw;
  position: sticky;
  top:2vh;
  z-index:4;
}
.navbar{
  display: flex;
  justify-content:space-between;
  z-index: 3;
}
.navbarscrolled{
  margin: 2vh;
  height: 10vh;
  display: flex;
  justify-content:space-between;
  z-index: 3;
  background-color: yellow;
  
}
.navbarscrolled ul,.navbar ul{
  display: flex;
  gap:4vw;
  z-index: 3;
}
.navbarscrolled ul span,.navbar ul span{
  color:wheat;
  text-decoration: none;
}
.navbarscrolled ul .homeLinks,.navbar ul .homeLinks{
  color:rgb(0,48, 53);
  opacity: 70%;
}
.navbarscrolled ul .homeLinks:hover,.navbar ul .homeLinks:hover{
  font-weight: bolder;
}
.logo{
  color:rgb(5, 83, 91);
  opacity:90%;
  font-size: 6vh;
  margin-top: -2.5vh;
  text-shadow: 2px 2px 2px green;
}
h4 span{
  color:rgb(243, 246, 226);
  font-weight: bold;
  font-size: small;
  padding-right: 1vw;
  left:90vw;
  z-index: 3;
}
@media(max-width:600px){
  .navbar{
    display: none;
  }
 .page-container{
  display: flex;
  flex-direction: column-reverse;
 }
  .image-view{
    width: 86vw;
    height: 30vh;
  }
  .page-body p{
    width: 90vw;
    font-size: 1.6vh;
    line-height: 3vh;
  }
  .page-body h1{
  width: 80vw;
  font-size: 2vh;
  }
}
@media only screen and (min-width: 624px) and (max-width: 1024px){
  .navbar{
    display: none;
  }
  .page-container{
    display: flex;
    flex-direction: column-reverse;
   }
    .image-view{
      width: 85vw;
      height: 30vh;
    }
    .page-body p{
      width: 85vw;
      font-size: 1.6vh;
      line-height: 3vh;
    }
    .page-body h1{
    width: 80vw;
    font-size: 3vh;
    }
  }
