.App {
  text-align: center;
  background-color: white;
}
.page-view{
  gap:4vw;
  padding: 3vw;
  background-image: linear-gradient(180deg, rgb(7, 48, 53), rgb(132, 139, 121),rgb(7, 48, 53));
}
.page-container{
  display: flex;
  flex-direction: row;
  border-radius: 1vh;
  gap:4vw;
  padding: 3vw;
  background-image: linear-gradient(180deg, rgb(7, 48, 53), rgb(132, 139, 121),rgb(7, 48, 53));
}
/*single blog view styling*/
.image-view{
  width: 60vw;
  height: 60vh;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1vh;
}
.page-body{
  width: 60vw;
  text-align: left;
}
.page-body p{
  font-size: 2.5vh;
  line-height: 4vh;
  margin-top: 4vh;
  color:rgb(243, 246, 226);
  opacity:80%;
}
.page-body h1{
  font-size: 5vh;
  opacity: 80%;
  font-family:'Georgia, 'Times New Roman', Times, serif';
  font-weight: bolder;
  margin-bottom: 2vh;
  color:rgb(242, 248, 213);
  opacity: 80%;
}
/* nava bar styling*/
.navbar{
  margin: 2vh;
  display: flex;
  justify-content:space-between
}
.navbar ul{
  display: flex;
  gap:4vw;
}
.navbar ul span{
  color:wheat;
  text-decoration: none;
}
@media(max-width:600px){
  .navbar{
    display: none;
  }
 .page-container{
  display: flex;
  flex-direction: column-reverse;
 }
  .image-view{
    width: 86vw;
    height: 30vh;
  }
  .page-body p{
    width: 90vw;
    font-size: 1.6vh;
    line-height: 3vh;
  }
  .page-body h1{
  width: 80vw;
  font-size: 2vh;
  }
}
@media only screen and (min-width: 624px) and (max-width: 1024px){
  .navbar{
    display: none;
  }
  .page-container{
    display: flex;
    flex-direction: column-reverse;
   }
    .image-view{
      width: 85vw;
      height: 30vh;
    }
    .page-body p{
      width: 85vw;
      font-size: 1.6vh;
      line-height: 3vh;
    }
    .page-body h1{
    width: 80vw;
    font-size: 3vh;
    }
  }
