.about-Container{
    display: flex;
    background-color: transparent;
    margin: 10vw;
}
.about-image{
    width: 45vw;
}
.about-image .profile-image{
    width: 30vw;
}
.displays{
    display: block;
}
.hideblock{
    display: none;
}
/*about nav*/
.aboutNav{
    display: flex;
    gap: 2vw;
    border-bottom: 2px solid rgb(150, 193, 194);
    color:rgb(0,48, 53);
    opacity: 70%;
}
.aboutNav div{
    background-color: white;
    height: 4vh;
    width:10vw;
    padding-top:1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}
.active{
    font-weight: bold;
    background-image: linear-gradient(90deg, rgb(150, 193, 194), rgb(0,48, 53));
    color:white; 
}
.aboutNav .skills:hover,.aboutNav .address:hover,.aboutNav .contacts:hover{
    background-color: white;
    border-bottom: 1.5px solid wheat;
    border-top: 1.5px solid wheat;
    border-left: 1.5px solid wheat;
    border-right: 1.5px solid wheat;
    font-weight: bold;
    background-image: linear-gradient(90deg, rgb(150, 193, 194), rgb(0,48, 53));
    color:white;
    cursor: pointer;
}
.addess-dscript{
    margin-top: 4vh;
}
.addess-dscript .intro{
    font-size: 2.5vh;
    text-align: center;
    color: black;
    opacity: 60%;
    width: 40vw;
}
.text-contents{
 margin-top: 6vh;
 display: flex;
 gap:10vw;
 color: black;
 opacity: 80%;
 width: 40vw;
}
.titles b ,.titles p ,.complements b ,.complements p{
   margin-bottom: 2vh;
   color: black;
   opacity: 80%;
}
.aboutPage{
    position: relative;
     z-index: 0;
     width:95vw;
     left: 3vw;
     top: -6vh;
     background-image:linear-gradient(140deg,azure,whitesmoke,whitesmoke,rgb(135, 160, 162),whitesmoke);
     height: 80vh;
     border-radius: 1vh;
     box-shadow: 0px 40px 0px 0px rgb(29, 62, 62);
   }
   .leftBtn{
    margin-left: -20vw;
   }
   /*mobile view*/
   @media(max-width:600px){
    .aboutPage{
        position: relative;
         width:100vw;
         left: 3vw;
         top: -2vh;
       }
    .about-Container{
        display: block;
        margin-top: 10vh;
    }
    .about-image{
     display: none;
    }
    .aboutNav div{
        width:32vw;
        padding-top:1vh;
    }
    .addess-dscript .intro{
        font-size: 2vh;
        width: 80vw;
    }
    .titles b ,.titles p ,.complements b ,.complements p{
   margin-bottom: 0.2vh;
   font-size: 2vh;
}
.leftBtn{
    margin-left: -10vw;
    margin-top: 5vh;
   }
   }
    
   